html {
  font-family:'Courier New', Courier, monospace;
}

.banner-photo {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  padding-top: 3%;
}

.banner-title {
  background-color: black;
  color: white;
  padding-bottom: 1%;
}

.email {
  margin-left: 1%;
}

span {
  background-color: black;
  font-weight: bold;
  color: rgb(0, 255, 0);
}

.projects {
  background-color: #332E2E;
  color: white;
  padding: 1px;
}

.aboutme {
  background-color: gray;
  padding: 1px;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
.dog
{
  width: 90%;
}

.busphoto {
  width: 90%;
}
.vintage {
  width: 90%;
  
}

.column {
  width: 30%;
  float: left;
}

.offclock {
  border-style: dotted;
  border-radius: 10px;
}

a:link, a:visited,  a:hover, a:active {
  color: white;
  text-decoration: none;
  text-align: center;

}