.banner-photo {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  padding-top: 3%;
}

.banner-title {
  background-color: black;
  color: white;
  padding-bottom: 1%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-family:'Courier New', Courier, monospace;
}